//セミコロンつけ忘れない//
@import 'foundation/normalize'; //リセットcss//
@import 'utility';   //繰り返し使うスタイル//
@import 'foundation/scaffolding'; //基本設定//
@import 'layout/l-header';
@import 'layout/l-footer';
@import 'object/component/c-header';
@import 'object/component/c-mainvisual';