@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  font-size: 1.6rem;
}

li {
  list-style-type: none;
}

.l-header {
  width: 100%;
  position: fixed;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 100;
}

.l-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(340 / 374 *100%);
  max-width: 100%;
  margin: auto;
}

.c-header {
  background-color: #000000;
  opacity: 0.7;
}

/*----------ハンバーガーメニュー-------------*/
.c-btn1 {
  top: calc(21.8 / 670 *100%);
  left: calc(326 / 374 *100%);
}

.c-btn1_inner {
  width: 18px;
  height: 18px;
  position: relative;
  cursor: pointer;
  /*ホバー時のカーソル変化*/
}

.c-btn1_inner span {
  position: absolute;
  display: block;
  width: 18px;
  height: 2px;
  background: #FFFFFF;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.c-btn1_inner span:nth-of-type(2) {
  top: 6px;
  opacity: 1;
  /* transition: all .3s;//アニメーションをかけて消す*/
  -webkit-transition-property: opacity;
  transition-property: opacity;
  /*1 → 0にする*/
}

.c-btn1_inner span:last-of-type {
  top: 12px;
}

/*---クリックした時--*/
.js-menu--show span:first-of-type {
  -webkit-transform: rotate(-45deg) translateY(8px);
          transform: rotate(-45deg) translateY(8px);
}

.js-menu--show span:nth-of-type(2) {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 0;
}

.js-menu--show span:last-of-type {
  -webkit-transform: rotate(45deg) translateY(-8px);
          transform: rotate(45deg) translateY(-8px);
}

.c-btn1_menu {
  /*ハンバーガークリックで呼び出すメニュー*/
  top: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
  background: #000000;
  opacity: 0.9;
  width: calc(517 / 593 *100%);
  text-align: center;
  /*中のリストを中央寄せ*/
  position: fixed;
  z-index: 100;
  overflow-y: auto;
  padding-top: 25px;
  /*こういうのはlayoutで指定して、マルチクラスでもいいかもね*/
  padding-bottom: 25px;
}

.c-btn1_menu_item .li {
  color: #FFFFFF;
}

.c-nav {
  display: none;
  /*スマホ、タブレットの時は隠す*/
  width: calc(1012 / 1920 *100%);
  /*----------ハンバーガーメニュー-------------*/
  /*---クリックした時--*/
}

.c-nav .c-nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-nav .c-header {
  background-color: #000000;
  opacity: 0.7;
}

.c-nav .c-btn1 {
  top: calc(21.8 / 670 *100%);
  left: calc(326 / 374 *100%);
}

.c-nav .c-btn1_inner {
  width: 18px;
  height: 18px;
  position: relative;
  cursor: pointer;
  /*ホバー時のカーソル変化*/
}

.c-nav .c-btn1_inner span {
  position: absolute;
  display: block;
  width: 18px;
  height: 2px;
  background: #FFFFFF;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.c-nav .c-btn1_inner span:nth-of-type(2) {
  top: 6px;
  opacity: 1;
  /* transition: all .3s;//アニメーションをかけて消す*/
  -webkit-transition-property: opacity;
  transition-property: opacity;
  /*1 → 0にする*/
}

.c-nav .c-btn1_inner span:last-of-type {
  top: 12px;
}

.c-nav .js-menu--show span:first-of-type {
  -webkit-transform: rotate(-45deg) translateY(8px);
          transform: rotate(-45deg) translateY(8px);
}

.c-nav .js-menu--show span:nth-of-type(2) {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 0;
}

.c-nav .js-menu--show span:last-of-type {
  -webkit-transform: rotate(45deg) translateY(-8px);
          transform: rotate(45deg) translateY(-8px);
}

.c-nav .c-btn1_menu {
  /*ハンバーガークリックで呼び出すメニュー*/
  top: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
  background: #000000;
  opacity: 0.9;
  width: calc(517 / 593 *100%);
  text-align: center;
  /*中のリストを中央寄せ*/
  position: fixed;
  z-index: 100;
  overflow-y: auto;
  padding-top: 25px;
  /*こういうのはlayoutで指定して、マルチクラスでもいいかもね*/
  padding-bottom: 25px;
}

.c-nav .c-btn1_menu_item .li {
  color: #FFFFFF;
}

.c-nav .c-nav {
  display: none;
  /*スマホ、タブレットの時は隠す*/
  width: calc(1200 / 1920 *100%);
}

.c-nav .c-nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-nav .c-nav_menu_li {
  font-family: "凸版文久見出し明朝";
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: 100;
}

.c-nav .c-nav_menu_li:first-of-type {
  white-space: nowrap;
}

.c-nav .l-nav_menu_li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

/*-------End------*/
@media screen and (min-width: 1024px) {
  .c-btn1 {
    display: none;
    /*pcでは隠す*/
  }
  .c-nav {
    display: block;
    /*pcで出す*/
  }
}

/*-------End------*/
@media screen and (min-width: 1024px) {
  .c-btn1 {
    display: none;
    /*pcでは隠す*/
  }
  .c-nav {
    display: block;
    /*pcで出す*/
  }
}

.c-mainvisual {
  width: 100%;
  background-color: transparent;
  background-image: url(../img/mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: calc(670 / 374 *100%);
  position: relative;
}

.l-logo2 {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.l-logo2_inner {
  width: 100%;
  display: block;
  min-width: 289px;
  min-height: 171px;
}

@media screen and (min-width: 768px) {
  .c-mainvisual {
    background-image: url(../img/tablet.png);
    padding-top: calc(373 / 768 *100%);
    padding-bottom: 10%;
    height: 0;
    min-height: 0;
  }
  .l-logo2 {
    top: 58%;
    width: 46%;
  }
}
/*# sourceMappingURL=style.css.map */