
.l-header{
  width: 100%;
  position: fixed;
    display: flex;
    // justify-content:space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: calc(16 / 374 *100%);
    padding-right:calc(16 / 374 *100%);
}

.l-logo1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);   

.l-logo_inner{
  width:100%;
  display: block;
  min-width: 289px;
  max-width: 100%;
  min-height:171px; 
}
}


.header_box{

}

.header_box_logo{
}


/*----------ハンバーガーメニュー-------------*/
.navi-btn1{
    top:calc(21.8 / 670 *100%);
    left:calc(326 / 374 *100%);
}

.navi-btn{
    width: 18px;
    height: 18px;
    position: relative;
    cursor: pointer;/*ホバー時のカーソル変化*/
}

.navi-btn span /*限定的な要素のためタイプセレクタを許容*/{
    position: absolute;
    display: block;
    width: 18px;
    height: 2px;
    background:#FFFFFF;
    transition: all .3s;
  }

  .navi-btn span:nth-of-type(2) {
    top:6px;
    opacity: 1;
    transition: all .3s;
  }
  .navi-btn span:last-of-type {
    top: 12px;
  }

   /*---クリックした時--*/
  .navi-btn-on span:first-of-type {
    transform: rotate(-45deg)translateY(8px)/*下にずらす*/
  }
  .navi-btn-on span:nth-of-type(2) {
    transform: translateX(0);
    opacity: 0;
  }
  .navi-btn-on span:last-of-type {
    transform: rotate(45deg)translateY(-8px)/*上にずらす*/
  }

  .navi-menu{
    top: 80px;
    left:50%;
    transform: translateX(-50%);
    display: none;
    background: #000000;
    opacity: 0.9;
    width:calc(517 / 593 *100%);
    text-align: center;/*中のリストを中央寄せ*/
    position: fixed;
    z-index: 100;
    overflow-y: auto;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .navi-menu li {
    list-style-type: none;
  }

/*-------End------*/

@media screen and (min-width:768px){
    .header{
        background-image: url(../img/tablet.png);
        padding-top: calc(373 / 768 *100%);//レスポンシブ用///* 表示画像の高さ ÷ 表示画像の幅 × 100 */
        padding-bottom: 10%;
        height: 0;
        min-height: 0;//打ち消し//

        .header_container{
            top: 58%;
        }
    }
}

@media screen and (min-width:1024px){
    .header{
        // background-image: url(../img/pc.png);
        // min-height: 1079px;
    }

    .navi-btn1{
      display: none;
    }

    .navi-menu{
      display: none;
    }
}