
.l-header{
  width: 100%;
  position: fixed;
    padding-top: 15px;
    padding-bottom: 15px;
    // padding-left: calc(16 / 374 *100%);
    // padding-right: calc(16 / 374 *100%);
    z-index: 100;//メインビジュアルの上に表示させる//
}

.l-inner{
  display: flex;
  justify-content:space-between;
  align-items: center;
  width:calc(340 / 374 *100%);
  max-width: 100%;
  margin: auto;
}

.l-logo1{
}






