
.l-header{
  width: 100%;
  position: fixed;
    padding-top: 15px;
    padding-bottom: 15px;
    // padding-left: calc(16 / 374 *100%);
    // padding-right: calc(16 / 374 *100%);
    z-index: 100;//メインビジュアルの上に表示させる//
}

.l-inner{
  display: flex;
  justify-content:space-between;
  align-items: center;
  width:calc(340 / 374 *100%);
  max-width: 100%;
  margin: auto;
}

.l-logo1{
}






@media screen and (min-width:768px){
    .header{
        background-image: url(../img/tablet.png);
        padding-top: calc(373 / 768 *100%);//レスポンシブ用///* 表示画像の高さ ÷ 表示画像の幅 × 100 */
        padding-bottom: 10%;
        height: 0;
        min-height: 0;//打ち消し//

        .header_container{
            top: 58%;
        }
    }
}

@media screen and (min-width:1024px){
    .header{
        // background-image: url(../img/pc.png);
        // min-height: 1079px;
    }

    .navi-btn1{
      display: none;
    }

    .navi-menu{
      display: none;
    }
}